<table class="profile" summary="<%= t(:profile_information) %> ">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
        <%= render 'follow_form' if signed_in? %>
        <% unless @user.microposts.empty? %>
        <table class="microposts" summary="Micro-messages de l'utilisateur">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong><%= t(:name) %> </strong> <%= @user.name %><br />
      <strong><%= t(:url) %></strong>  <%= link_to user_path(@user), @user %>
      <%= render 'shared/stats' %>
      <strong>Messages</strong> <%= @user.microposts.count %>
    </td>
  </tr>
</table>