<% if object.errors.any? %>
  <div id="error_explanation">
    <h2><%= object.errors.count %> <%= t(:error, :count => object.errors.count) %>  <%= t('views.shared.error_messages.title', :count => object.errors.count) %> :</h2>
    <p><%= t('views.shared.error_messages.problem_fields_title' , :count => object.errors.count) %> :</p>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>