<h1><%= t(:help)%></h1>
<p>
  <%= t('views.pages.help.page_help_description')%>
  <a href="http://railstutorial.org/help"><%= t('views.pages.help.page_help_link')%></a>.
  <%= t('views.pages.help.book_help_description')%>
  <a href="http://railstutorial.org/book"><%= t('views.pages.help.book_help_link')%></a>.
</p>